@charset "UTF-8";
/*================================
Reset Styling
================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

* {
  outline: 1px solid gray;
}

/*================================
Base Styling
================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
  background-color: #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
}
a:focus-visible {
  border-radius: 4px;
}

/*================================
Reusable Styling
================================*/
.container {
  width: 1260px;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  color: #333333;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  -webkit-transition: color, background-color 0.5s ease;
  transition: color, background-color 0.5s ease;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .is-sp {
    display: block;
  }
}

/*================================
header
================================*/
/*================================
main
================================*/
canvas {
  border: 2px solid #333;
  border-radius: 50%;
}

/*================================
footer
================================*/