.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  width: 170px;
  max-width: 100%;
  padding: 15px 20px;
  background-color: $color-white;
  color: $color-black;
  font-size: 1.5rem;
  letter-spacing: $letter-spacing;
  text-align: center;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  transition: color, background-color, 0.5s ease;

  &:hover {
    background-color: $color-main-button-hover;
    color: $color-white;
    border: 1px solid $color-main;
  }

  &:focus-visible {
    background-color: $color-main-button-hover;
    color: $color-white;
    border: 1px solid $color-main;
    box-shadow: 0px 0px 10px $color-main;
    outline: solid 2px $color-main;
    outline-offset: 3px;
  }

  &:active {
    background-color: $color-main;
    color: $color-white;
    border: 1px solid $color-main;
  }

  @include mq(md) {
    font-size: 1.15rem;
  }

  @include mq(ls) {
    width: 150px;
  }
}
