/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;

  --vt-c-black: #32383f;
  --vt-c-black-soft: #cccccc;

  --vt-c-main: #ffca80;
  --vt-c-main-button-hover: rgba(255, 202, 128, 0.7);
  --vt-c-accent: ##bfe4ff;
}

/* ========================
//  あとで消す
*/
/* * {
  outline: 1px solid gray;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--vt-c-black);
  background: var(--vt-c-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Inter", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese",
    Meiryo, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
